* {
  --stats-width: 450px;
  --header-height: 80px;
  --header-selected: #555;
}
.ul-todo {
  margin-left: 10px;
  margin-right: 10px;
}
.bold {
  font-weight: 900;
}
.header-height {
  height: var(--header-height);
}
.statsHeight {
  height: calc(100vh - var(--header-height));
}
.stats-width {
  width: var(--stats-width);
}
.center-vh {
  justify-content: center;
  align-items: center; 
}
.main-view-tab {
  width: 200px;
}
.header-buttons {
  background-color: var(--header-selected);
}
.item {
  max-width: 320px;
}
.item-row-fs {
  font-size: 14px;
}
.input-y-padding {
  padding-top: 2px;
  padding-bottom: 1px;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
