* {
  --stats-width: 450px;
  --header-height: 80px;
  --header-selected: #555;
}

.header-height {
  height: var(--header-height);
}
.stats-height {
  height: calc(100vh - var(--header-height));
}
.stats-width {
  width: var(--stats-width);
}
.center-vh {
  justify-content: center;
  align-items: center; 
}
.header-buttons {
  background-color: var(--header-selected);
}
.item-box-width {
  width: 22%
}
.item-box-height {
  height: 32%
}
.input-y-padding {
  padding-top: 2px;
  padding-bottom: 2px;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}